PORT=3000
JWT_SECRET=tu_clave_secreta_aqui

DB_HOST=aws-1-us-west-2.pooler.supabase.com
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres.tu_id_proyecto
DB_PASSWORD=tu_password_aqui

DATABASE_URL=postgresql://postgres.tu_id_proyecto:tu_password_aqui@aws-1-us-west-2.pooler.supabase.com:5432/postgres
